In [63]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Load school and student data
school_data_load = "Resources/schools_complete.csv"
student_data_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_load)
student_data_df = pd.read_csv(student_data_load)

# Combine the data into a single dataset.  
school_data_combined_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_combined_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [64]:
school_data_combined_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [65]:
# Calculate total schools
school_count = len(school_data_combined_df['school_name'].unique())
#print(school_count)

# Calculate total students
student_count = (len(school_data_combined_df))
#print(student_count)

# Calculate total budget
total_budget = (school_data_df['budget']).sum()
#print(total_budget)

# Calculate Average Math Score
math_average = school_data_combined_df['math_score'].mean()
#print(math_average)

# Calculate Average Reading Score
reading_average = school_data_combined_df['reading_score'].mean()
#print(reading_average)

# Calculated Passing Math Percentage
passing_math_score = (school_data_combined_df['math_score'] > 69).sum()
passing_math_percent = (passing_math_score / student_count) * 100
#print(passing_math_percent)

# Calculate Passing Reading
passing_reading_score = (school_data_combined_df['reading_score'] > 69).sum()
passing_reading_percent = (passing_reading_score / student_count) * 100
#print(passing_reading_percent)

# Calculate Overall Passing
overall_passing_calc = school_data_combined_df[(school_data_combined_df['reading_score'] >= 70) & (school_data_combined_df['math_score'] >= 70)].count()['student_name']
overall_passing_percent = (overall_passing_calc / student_count) * 100
#print(overall_passing_percent)

In [66]:
# District Summary
district_summary_df = pd.DataFrame({"Total Schools": [school_count], "Total Students": student_count,
                                "Total Budget": total_budget, "Average Math Score": math_average,
                                "Average Reading Score": reading_average,
                                "% passing math": passing_math_percent, "% passing reading": passing_reading_percent,
                                "% overall passing": overall_passing_percent
                                })
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% passing math,% passing reading,% overall passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [67]:
school_data_combined_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [68]:
# Group by School

grouped_school_summary_df = school_data_combined_df.groupby(["school_name","type"])
pd.DataFrame(grouped_school_summary_df.size().reset_index(name="Total Students"))

              school_name      type  Total Students
0      Bailey High School  District            4976
1     Cabrera High School   Charter            1858
2    Figueroa High School  District            2949
3        Ford High School  District            2739
4     Griffin High School   Charter            1468
5   Hernandez High School  District            4635
6      Holden High School   Charter             427
7       Huang High School  District            2917
8     Johnson High School  District            4761
9        Pena High School   Charter             962
10  Rodriguez High School  District            3999
11    Shelton High School   Charter            1761
12     Thomas High School   Charter            1635
13     Wilson High School   Charter            2283
14     Wright High School   Charter            1800

In [69]:
# Can I group or summarize by school name and type?

school_name = school_data_combined_df["school_name"]
school_type = school_data_combined_df["type"]


school_summ_df = pd.DataFrame({"School Name": school_name, "School Type": school_type, "Total Students": student_count})
school_summ_df

              School Name School Type  Total Students
0       Huang High School    District           39170
1       Huang High School    District           39170
2       Huang High School    District           39170
3       Huang High School    District           39170
4       Huang High School    District           39170
...                   ...         ...             ...
39165  Thomas High School     Charter           39170
39166  Thomas High School     Charter           39170
39167  Thomas High School     Charter           39170
39168  Thomas High School     Charter           39170
39169  Thomas High School     Charter           39170

[39170 rows x 3 columns]

In [70]:
per_school_type = school_data_combined_df.set_index(["school_name"])["type"]
per_school_type

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [71]:
per_school_total_students = school_data_combined_df["school_name"].value_counts()
per_school_total_students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [72]:
per_school_budget = school_data_combined_df.groupby(["school_name"]).mean()["budget"]
per_school_budget

per_school_capita = per_school_budget / per_school_total_students
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [73]:
school_data_combined_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [74]:
avg_math_score = school_data_combined_df.groupby(["school_name"]).mean()["math_score"]
avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [75]:
avg_reading_score = school_data_combined_df.groupby(["school_name"]).mean()['reading_score']
avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [76]:
per_school_passing_math = school_data_combined_df[(school_data_combined_df["math_score"]>=70)]
per_school_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [77]:
per_school_passing_reading = school_data_combined_df[(school_data_combined_df["reading_score"]>=70)]
per_school_passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [78]:
overall_passing_math_score = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
overall_passing_math_score

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [79]:
overall_passing_reading_score = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
overall_passing_reading_score

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [80]:
per_school_overall_passing_math = (overall_passing_math_score/per_school_total_students)*100
per_school_overall_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [81]:
per_school_overall_passing_reading = (overall_passing_reading_score/per_school_total_students)*100
per_school_overall_passing_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [82]:
passing_overall_df = school_data_combined_df.loc[(school_data_combined_df["math_score"]>=70) & (school_data_combined_df["reading_score"]>=70)]
passing_overall_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [84]:
overall_passing_pct = passing_overall_df.groupby(["school_name"]).count()["student_name"] / (per_school_total_students) *100
overall_passing_pct

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [85]:
# School Summary
overall_school_summary_df = pd.DataFrame({"Total Students": per_school_total_students, "Total School Budget": per_school_budget,
                                "Per Student Budget": per_school_capita, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score,
                                "% Passing Math": per_school_overall_passing_math, "% Passing Reading": per_school_overall_passing_reading,
                                "% Overall Passing": overall_passing_pct
                                })
overall_school_summary_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [86]:
# School Summary Top Performing
overall_school_summary_df = pd.DataFrame({"Total Students": per_school_total_students, "Total School Budget": per_school_budget,
                                "Per Student Budget": per_school_capita, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score,
                                "% Passing Math": per_school_overall_passing_math, "% Passing Reading": per_school_overall_passing_reading,
                                "% Overall Passing": overall_passing_pct
                                })
overall_school_summary_df.sort_values(by="% Overall Passing", ascending=False).head(5)

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [87]:
# School Summary Bottom Performing
#overall_school_summary_df.loc[:, "Total School Budget"] = '$' + overall_school_summary_df["Total School Budget"].map('{:,.2f}'.format) 

# Create DataFrame
overall_school_summary_df = pd.DataFrame({"Total Students": per_school_total_students, "Total School Budget_Formatted": per_school_budget,
                                "Per Student Budget": per_school_capita, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score,
                                "% Passing Math": per_school_overall_passing_math, "% Passing Reading": per_school_overall_passing_reading,
                                "% Overall Passing": overall_passing_pct
                                })

overall_school_summary_df.sort_values(by="% Overall Passing", ascending=False).iloc[-5:].sort_values(by="% Overall Passing")

,Total Students,Total School Budget_Formatted,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [88]:
school_data_combined_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [144]:
math_score_reduced_df = school_data_combined_df[["school_name", "grade", "math_score"]]
math_score_reduced_df

              school_name grade  math_score
0       Huang High School   9th          79
1       Huang High School  12th          61
2       Huang High School  12th          60
3       Huang High School  12th          58
4       Huang High School   9th          84
...                   ...   ...         ...
39165  Thomas High School  12th          90
39166  Thomas High School  10th          70
39167  Thomas High School   9th          84
39168  Thomas High School  10th          90
39169  Thomas High School  11th          75

[39170 rows x 3 columns]

In [145]:
math_score_ninth = math_score_reduced_df.loc[math_score_reduced_df["grade"] == "9th"]
math_score_ninth

              school_name grade  math_score
0       Huang High School   9th          79
4       Huang High School   9th          84
5       Huang High School   9th          94
12      Huang High School   9th          79
13      Huang High School   9th          79
...                   ...   ...         ...
39152  Thomas High School   9th          84
39153  Thomas High School   9th          75
39157  Thomas High School   9th          94
39164  Thomas High School   9th          76
39167  Thomas High School   9th          84

[11408 rows x 3 columns]

In [146]:
# Create Series for Math Scores
per_school_math_scores = math_score_ninth.set_index(["school_name"])["math_score"]
per_school_math_scores

school_name
Huang High School     79
Huang High School     84
Huang High School     94
Huang High School     79
Huang High School     79
                      ..
Thomas High School    84
Thomas High School    75
Thomas High School    94
Thomas High School    76
Thomas High School    84
Name: math_score, Length: 11408, dtype: int64

In [141]:
# Filter for 9th Grade only
math_only_ninth = math_score_reduced_df.loc[(math_score_reduced_df)["grade"] == "9th"]
math_only_ninth

              school_name grade  math_score
0       Huang High School   9th          79
4       Huang High School   9th          84
5       Huang High School   9th          94
12      Huang High School   9th          79
13      Huang High School   9th          79
...                   ...   ...         ...
39152  Thomas High School   9th          84
39153  Thomas High School   9th          75
39157  Thomas High School   9th          94
39164  Thomas High School   9th          76
39167  Thomas High School   9th          84

[11408 rows x 3 columns]

In [147]:
# Create Series for Mean of Grade 9 Math Scores
grade_nine_math = per_school_math_scores.groupby(["school_name"]).mean()   
grade_nine_math

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [148]:
grouped_math_scores_by_grade_df = pd.DataFrame({"9th": grade_nine_math, "10th": "math 10",
                                "11th": "math 11", "12th": avg_math_score
                                })
grouped_math_scores_by_grade_df

                             9th     10th     11th       12th
school_name
Bailey High School     77.083676  math 10  math 11  77.048432
Cabrera High School    83.094697  math 10  math 11  83.061895
Figueroa High School   76.403037  math 10  math 11  76.711767
Ford High School       77.361345  math 10  math 11  77.102592
Griffin High School    82.044010  math 10  math 11  83.351499
Hernandez High School  77.438495  math 10  math 11  77.289752
Holden High School     83.787402  math 10  math 11  83.803279
Huang High School      77.027251  math 10  math 11  76.629414
Johnson High School    77.187857  math 10  math 11  77.072464
Pena High School       83.625455  math 10  math 11  83.839917
Rodriguez High School  76.859966  math 10  math 11  76.842711
Shelton High School    83.420755  math 10  math 11  83.359455
Thomas High School     83.590022  math 10  math 11  83.418349
Wilson High School     83.085578  math 10  math 11  83.274201
Wright High School     83.264706  math 10  math 11  83.682222