In [ ]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Load school and student data
school_data_load = "Resources/schools_complete.csv"
student_data_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_load)
student_data_df = pd.read_csv(student_data_load)

# Combine the data into a single dataset.  
school_data_combined_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
#school_data_combined_df

In [210]:
school_data_combined_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [212]:
# Calculate total schools
school_count = len(school_data_combined_df['school_name'].unique())
#print(school_count)

# Calculate total students
student_count = (len(school_data_combined_df))
#print(student_count)

# Calculate total budget
total_budget = (school_data_df['budget']).sum()
#print(total_budget)

# Calculate Average Math Score
math_average = school_data_combined_df['math_score'].mean()
#print(math_average)

# Calculate Average Reading Score
reading_average = school_data_combined_df['reading_score'].mean()
#print(reading_average)

# Calculated Passing Math Percentage
passing_math_score = (school_data_combined_df['math_score'] > 69).sum()
passing_math_percent = (passing_math_score / student_count) * 100
#print(passing_math_percent)

# Calculate Passing Reading
passing_reading_score = (school_data_combined_df['reading_score'] > 69).sum()
passing_reading_percent = (passing_reading_score / student_count) * 100
#print(passing_reading_percent)

# Calculate Overall Passing
overall_passing_calc = school_data_combined_df[(school_data_combined_df['reading_score'] > 69) & (school_data_combined_df['math_score'] > 69)].count()['student_name']
overall_passing_percent = (overall_passing_calc / student_count) * 100
#print(overall_passing_percent)

In [214]:
# District Summary
district_summary = pd.DataFrame({"Total Schools": [school_count], "Total Students": student_count,
                                "Total Budget": total_budget, "Average Math Score": math_average,
                                "Average Reading Score": reading_average,
                                "% passing math": passing_math_percent, "% passing reading": passing_reading_percent,
                                "% overall passing": overall_passing_percent
                                })
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% passing math,% passing reading,% overall passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [195]:
school_data_combined_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [ ]:
# Find School Name
#school_summary = school_data_combined_df['school_name'].unique(),['type']
#print(school_summary)

# Find School Type
#school_type = [(school_data_combined_df['type'])]
#print(school_type)

In [208]:
# School Summary - Top Performing Schools (By Overall % Passing)
school_summary_df = pd.DataFrame["school_name", "student_count", "budget"]
school_summary_df

TypeError: 'type' object is not subscriptable