In [113]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Load school and student data
school_data_load = "Resources/schools_complete.csv"
student_data_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_load)
student_data_df = pd.read_csv(student_data_load)

# Combine the data into a single dataset.  
school_data_combined_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_combined_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [114]:
# Calculate total schools
school_count = len(school_data_combined_df['school_name'].unique())
#print(school_count)

# Calculate total students
student_count = (len(school_data_combined_df))
#print(student_count)

# Calculate total budget
total_budget = (school_data_df['budget']).sum()
#print(total_budget)

# Calculate Average Math Score
math_average = school_data_combined_df['math_score'].mean()
#print(math_average)

# Calculate Average Reading Score
reading_average = school_data_combined_df['reading_score'].mean()
#print(reading_average)

# Calculated Passing Math Percentage
passing_math_score = (school_data_combined_df['math_score'] > 69).sum()
passing_math_percent = (passing_math_score / student_count) * 100
#print(passing_math_percent)

# Calculate Passing Reading
passing_reading_score = (school_data_combined_df['reading_score'] > 69).sum()
passing_reading_percent = (passing_reading_score / student_count) * 100
#print(passing_reading_percent)

# Calculate Overall Passing
overall_passing_calc = school_data_combined_df[(school_data_combined_df['reading_score'] >= 70) & (school_data_combined_df['math_score'] >= 70)].count()['student_name']
overall_passing_percent = (overall_passing_calc / student_count) * 100
#print(overall_passing_percent)

In [115]:
# District Summary
district_summary_df = pd.DataFrame({"Total Schools": [school_count], "Total Students": student_count,
                                "Total Budget": total_budget, "Average Math Score": math_average,
                                "Average Reading Score": reading_average,
                                "% passing math": passing_math_percent, "% passing reading": passing_reading_percent,
                                "% overall passing": overall_passing_percent
                                })

# Format Columns using Map
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% passing math,% passing reading,% overall passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [116]:
# Group by School

grouped_school_summary_df = school_data_combined_df.groupby(["school_name","type"])
pd.DataFrame(grouped_school_summary_df.size().reset_index(name="Total Students"))

              school_name      type  Total Students
0      Bailey High School  District            4976
1     Cabrera High School   Charter            1858
2    Figueroa High School  District            2949
3        Ford High School  District            2739
4     Griffin High School   Charter            1468
5   Hernandez High School  District            4635
6      Holden High School   Charter             427
7       Huang High School  District            2917
8     Johnson High School  District            4761
9        Pena High School   Charter             962
10  Rodriguez High School  District            3999
11    Shelton High School   Charter            1761
12     Thomas High School   Charter            1635
13     Wilson High School   Charter            2283
14     Wright High School   Charter            1800

In [117]:
per_school_total_students = school_data_combined_df["school_name"].value_counts()
per_school_total_students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [118]:
per_school_budget = school_data_combined_df.groupby(["school_name"]).mean()["budget"]
per_school_budget

per_school_capita = per_school_budget / per_school_total_students
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [119]:
avg_math_score = school_data_combined_df.groupby(["school_name"]).mean()["math_score"]
avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [120]:
avg_reading_score = school_data_combined_df.groupby(["school_name"]).mean()['reading_score']
avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [121]:
per_school_passing_math = school_data_combined_df[(school_data_combined_df["math_score"]>=70)]
per_school_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [122]:
per_school_passing_reading = school_data_combined_df[(school_data_combined_df["reading_score"]>=70)]
per_school_passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [123]:
overall_passing_math_score = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
overall_passing_math_score

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [124]:
overall_passing_reading_score = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
overall_passing_reading_score

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [125]:
per_school_overall_passing_math = (overall_passing_math_score/per_school_total_students)*100
per_school_overall_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [126]:
per_school_overall_passing_reading = (overall_passing_reading_score/per_school_total_students)*100
per_school_overall_passing_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [127]:
passing_overall_df = school_data_combined_df.loc[(school_data_combined_df["math_score"]>=70) & (school_data_combined_df["reading_score"]>=70)]
passing_overall_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [128]:
overall_passing_pct = passing_overall_df.groupby(["school_name"]).count()["student_name"] / (per_school_total_students) *100
overall_passing_pct

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [129]:
# School Summary
overall_school_summary_df = pd.DataFrame({"Total Students": per_school_total_students, "Total School Budget": per_school_budget,
                                "Per Student Budget": per_school_capita, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score,
                                "% Passing Math": per_school_overall_passing_math, "% Passing Reading": per_school_overall_passing_reading,
                                "% Overall Passing": overall_passing_pct
                                })

# Format Columns using Map
overall_school_summary_df["Total School Budget"] = overall_school_summary_df["Total School Budget"].map("${:,.2f}".format)
overall_school_summary_df["Per Student Budget"] = overall_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

overall_school_summary_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [130]:
# School Summary Top Performing
overall_school_summary_df = pd.DataFrame({"School Type": school_type, "Total Students": per_school_total_students, "Total School Budget": per_school_budget,
                                "Per Student Budget": per_school_capita, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score,
                                "% Passing Math": per_school_overall_passing_math, "% Passing Reading": per_school_overall_passing_reading,
                                "% Overall Passing": overall_passing_pct
                                })

# Format Columns using Map
overall_school_summary_df["Total School Budget"] = overall_school_summary_df["Total School Budget"].map("${:,.2f}".format)
overall_school_summary_df["Per Student Budget"] = overall_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
                                
overall_school_summary_df.sort_values(by="% Overall Passing", ascending=False).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,NaN,1858.0,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,NaN,1635.0,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,NaN,1468.0,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,NaN,2283.0,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,NaN,962.0,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [131]:
# School Summary Bottom Performing
#overall_school_summary_df.loc[:, "Total School Budget"] = '$' + overall_school_summary_df["Total School Budget"].map('{:,.2f}'.format) 

# Create DataFrame
overall_school_summary_df = pd.DataFrame({"Total Students": per_school_total_students, "Total School Budget_Formatted": per_school_budget,
                                "Per Student Budget": per_school_capita, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score,
                                "% Passing Math": per_school_overall_passing_math, "% Passing Reading": per_school_overall_passing_reading,
                                "% Overall Passing": overall_passing_pct
                                })

overall_school_summary_df.sort_values(by="% Overall Passing", ascending=False).iloc[-5:].sort_values(by="% Overall Passing")

,Total Students,Total School Budget_Formatted,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [132]:
# Math Scores by Grade - Remove Unnecessary Columns
math_score_reduced_df = school_data_combined_df[["school_name", "grade", "math_score"]]
math_score_reduced_df

              school_name grade  math_score
0       Huang High School   9th          79
1       Huang High School  12th          61
2       Huang High School  12th          60
3       Huang High School  12th          58
4       Huang High School   9th          84
...                   ...   ...         ...
39165  Thomas High School  12th          90
39166  Thomas High School  10th          70
39167  Thomas High School   9th          84
39168  Thomas High School  10th          90
39169  Thomas High School  11th          75

[39170 rows x 3 columns]

In [133]:
# Math Scores by Grade - Conditional Filter by Grade
math_score_ninth = math_score_reduced_df.loc[math_score_reduced_df["grade"] == "9th"]
math_score_tenth = math_score_reduced_df.loc[math_score_reduced_df["grade"] == "10th"]
math_score_eleventh = math_score_reduced_df.loc[math_score_reduced_df["grade"] == "11th"]
math_score_twelfth = math_score_reduced_df.loc[math_score_reduced_df["grade"] == "12th"]

In [134]:
# Math Scores by Grade - Set Index for Math Scores Series
per_school_math_scores_nine = math_score_ninth.set_index(["school_name"])["math_score"]
per_school_math_scores_ten = math_score_tenth.set_index(["school_name"])["math_score"]
per_school_math_scores_eleven = math_score_eleventh.set_index(["school_name"])["math_score"]
per_school_math_scores_twelve = math_score_twelfth.set_index(["school_name"])["math_score"]

In [135]:
# Math Scores by Grade - Create Series for Mean of Math Scores by School
grade_nine_math = per_school_math_scores_nine.groupby(["school_name"]).mean()   
grade_ten_math = per_school_math_scores_ten.groupby(["school_name"]).mean()
grade_eleven_math = per_school_math_scores_eleven.groupby(["school_name"]).mean()
grade_twelve_math = per_school_math_scores_twelve.groupby(["school_name"]).mean()

In [136]:
grouped_math_scores_by_grade_df = pd.DataFrame({"9th": grade_nine_math, "10th": grade_ten_math,
                                "11th": grade_eleven_math, "12th": grade_twelve_math
                                })
grouped_math_scores_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [137]:
# Reading Scores by Grade - Remove Unnecessary Columns
reading_score_reduced_df = school_data_combined_df[["school_name", "grade", "reading_score"]]
reading_score_reduced_df

              school_name grade  reading_score
0       Huang High School   9th             66
1       Huang High School  12th             94
2       Huang High School  12th             90
3       Huang High School  12th             67
4       Huang High School   9th             97
...                   ...   ...            ...
39165  Thomas High School  12th             99
39166  Thomas High School  10th             95
39167  Thomas High School   9th             73
39168  Thomas High School  10th             99
39169  Thomas High School  11th             95

[39170 rows x 3 columns]

In [138]:
# Reading Scores by Grade - Conditional Filter by Grade
reading_score_ninth = reading_score_reduced_df.loc[reading_score_reduced_df["grade"] == "9th"]
reading_score_tenth = reading_score_reduced_df.loc[reading_score_reduced_df["grade"] == "10th"]
reading_score_eleventh = reading_score_reduced_df.loc[reading_score_reduced_df["grade"] == "11th"]
reading_score_twelfth = reading_score_reduced_df.loc[reading_score_reduced_df["grade"] == "12th"]

In [139]:
# Reading Scores by Grade - Set Index for Reading Scores Series
per_school_reading_scores_nine = reading_score_ninth.set_index(["school_name"])["reading_score"]
per_school_reading_scores_ten = reading_score_tenth.set_index(["school_name"])["reading_score"]
per_school_reading_scores_eleven = reading_score_eleventh.set_index(["school_name"])["reading_score"]
per_school_reading_scores_twelve = reading_score_twelfth.set_index(["school_name"])["reading_score"]

In [140]:
# Reading Scores by Grade - Create Series for Mean of Reading Scores by School
grade_nine_reading = per_school_reading_scores_nine.groupby(["school_name"]).mean()   
grade_ten_reading = per_school_reading_scores_ten.groupby(["school_name"]).mean()
grade_eleven_reading = per_school_reading_scores_eleven.groupby(["school_name"]).mean()
grade_twelve_reading = per_school_reading_scores_twelve.groupby(["school_name"]).mean()

In [141]:
grouped_math_scores_by_grade_df = pd.DataFrame({"9th": grade_nine_reading, "10th": grade_ten_reading,
                                "11th": grade_eleven_reading, "12th": grade_twelve_reading
                                })
grouped_math_scores_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [150]:
#Scores by School Spending

In [154]:
overall_school_summary_df.columns

Index(['Total Students', 'Total School Budget_Formatted', 'Per Student Budget',
       'Average Math Score', 'Average Reading Score', '% Passing Math',
       '% Passing Reading', '% Overall Passing'],
      dtype='object')

In [189]:
# School Spending Summary
overall_spending_summary_df = pd.DataFrame({"Per Student Budget": per_school_capita, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score,
                                "% Passing Math": per_school_overall_passing_math, "% Passing Reading": per_school_overall_passing_reading,
                                "% Overall Passing": overall_passing_pct
                                })
overall_spending_summary_df

,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [190]:
# Create Bins
bins = [0, 584.9, 629.9, 644.9, 680 ]

# Create Names for Bins
spending_bins = ["< $585", "$585-630", "$630-645", "645-680"]

In [191]:
overall_spending_summary_df["Spending Ranges (Per Student)"] = pd.cut(overall_spending_summary_df["Per Student Budget"],
                                                                bins, labels=spending_bins, include_lowest=True)
overall_spending_summary_df

,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,< $585
Figueroa High School,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,645-680
Holden High School,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,< $585
Huang High School,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,645-680
Johnson High School,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,645-680
Pena High School,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,< $585
Wright High School,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,< $585

In [193]:
overall_spending_summary_df = overall_spending_summary_df.groupby("Spending Ranges (Per Student)")
overall_spending_summary_df.max()

,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,,
< $585,583.0,83.803279,83.989488,94.133477,97.039828,91.334769
$585-630,628.0,83.839917,84.044699,94.594595,97.138965,90.599455
$630-645,644.0,83.418349,83.848930,93.272171,97.308869,90.948012
645-680,655.0,77.289752,81.182722,66.752967,81.316421,53.539172