In [160]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Load school and student data
school_data_load = "Resources/schools_complete.csv"
student_data_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_load)
student_data_df = pd.read_csv(student_data_load)

# Combine the data into a single dataset.  
school_data_combined_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
#school_data_combined_df

In [161]:
# Calculate total schools
school_count = len(school_data_combined_df['school_name'].unique())
#print(school_count)

# Calculate total students
student_count = (len(school_data_combined_df))
#print(student_count)

# Calculate total budget
total_budget = (school_data_df['budget']).sum()
#print(total_budget)

# Calculate Average Math Score
math_average = school_data_combined_df['math_score'].mean()
#print(math_average)

# Calculate Average Reading Score
reading_average = school_data_combined_df['reading_score'].mean()
#print(reading_average)

# Calculated Passing Math Percentage
passing_math_score = (school_data_combined_df['math_score'] > 69).sum()
passing_math_percent = (passing_math_score / student_count) * 100
#print(passing_math_percent)

# Calculate Passing Reading
passing_reading_score = (school_data_combined_df['reading_score'] > 69).sum()
passing_reading_percent = (passing_reading_score / student_count) * 100
#print(passing_reading_percent)

# Calculate Overall Passing
overall_passing_calc = school_data_combined_df[(school_data_combined_df['reading_score'] >= 70) & (school_data_combined_df['math_score'] >= 70)].count()['student_name']
overall_passing_percent = (overall_passing_calc / student_count) * 100
#print(overall_passing_percent)

In [162]:
# DISTRICT SUMMARY
district_summary_df = pd.DataFrame({"Total Schools": [school_count], "Total Students": student_count,
                                "Total Budget": total_budget, "Average Math Score": math_average,
                                "Average Reading Score": reading_average,
                                "% passing math": passing_math_percent, "% passing reading": passing_reading_percent,
                                "% overall passing": overall_passing_percent
                                })

# Format Columns using Map
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% passing math,% passing reading,% overall passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [163]:
# School Type Counts

school_type_student_count = school_data_combined_df["type"].value_counts()
#school_type_student_count

In [164]:
per_school_total_students = school_data_combined_df["school_name"].value_counts()
#per_school_total_students

In [165]:
per_school_budget = school_data_combined_df.groupby(["school_name"]).mean()["budget"]
#per_school_budget

per_school_capita = per_school_budget / per_school_total_students
#per_school_capita

In [166]:
avg_math_score = school_data_combined_df.groupby(["school_name"]).mean()["math_score"]
#avg_math_score

In [167]:
school_type_avg_math = school_data_combined_df.groupby(["type"]).mean()["math_score"]
#school_type_avg_math

In [168]:
avg_reading_score = school_data_combined_df.groupby(["school_name"]).mean()["reading_score"]
#avg_reading_score

In [169]:
school_type_avg_reading = school_data_combined_df.groupby(["type"]).mean()["reading_score"]
#school_type_avg_reading

In [170]:
per_school_passing_math = school_data_combined_df[(school_data_combined_df["math_score"]>=70)]
#per_school_passing_math

In [171]:
per_school_passing_reading = school_data_combined_df[(school_data_combined_df["reading_score"]>=70)]
#per_school_passing_reading

In [172]:
overall_passing_math_score = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
#overall_passing_math_score

In [173]:
overall_school_type_passing_math_score = per_school_passing_math.groupby(["type"]).count()["student_name"]
#overall_school_type_passing_math_score

In [174]:
overall_passing_reading_score = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
#overall_passing_reading_score

In [175]:
overall_school_type_passing_reading_score = per_school_passing_reading.groupby(["type"]).count()["student_name"]
#overall_school_type_passing_reading_score

In [176]:
per_school_overall_passing_math = (overall_passing_math_score/per_school_total_students)*100
#per_school_overall_passing_math

In [177]:
per_school_type_overall_passing_math = (overall_school_type_passing_math_score/school_type_student_count)*100
#per_school_type_overall_passing_math

In [178]:
per_school_overall_passing_reading = (overall_passing_reading_score/per_school_total_students)*100
#per_school_overall_passing_reading

In [179]:
per_school_type_overall_passing_reading = (overall_school_type_passing_reading_score/school_type_student_count)*100
#per_school_type_overall_passing_reading

In [180]:
passing_overall_df = school_data_combined_df.loc[(school_data_combined_df["math_score"]>=70) & (school_data_combined_df["reading_score"]>=70)]
#passing_overall_df

In [181]:
overall_passing_pct = passing_overall_df.groupby(["school_name"]).count()["student_name"] / (per_school_total_students) *100
#overall_passing_pct

In [182]:
overall_school_type_passing_pct = passing_overall_df.groupby(["type"]).count()["student_name"] / (school_type_student_count) *100
#overall_school_type_passing_pct

In [183]:
# School Summary
overall_school_summary_df = pd.DataFrame({"Total Students": per_school_total_students, "Total School Budget": per_school_budget,
                                "Per Student Budget": per_school_capita, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score,
                                "% Passing Math": per_school_overall_passing_math, "% Passing Reading": per_school_overall_passing_reading,
                                "% Overall Passing": overall_passing_pct
                                })

# Format Columns using Map
overall_school_summary_df["Total School Budget"] = overall_school_summary_df["Total School Budget"].map("${:,.2f}".format)
overall_school_summary_df["Per Student Budget"] = overall_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

overall_school_summary_df

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [184]:
# School Summary Top Performing
overall_school_summary_df = pd.DataFrame({"Total Students": per_school_total_students, "Total School Budget": per_school_budget,
                                "Per Student Budget": per_school_capita, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score,
                                "% Passing Math": per_school_overall_passing_math, "% Passing Reading": per_school_overall_passing_reading,
                                "% Overall Passing": overall_passing_pct
                                })

# Format Columns using Map
overall_school_summary_df["Total School Budget"] = overall_school_summary_df["Total School Budget"].map("${:,.2f}".format)
overall_school_summary_df["Per Student Budget"] = overall_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
                                
overall_school_summary_df.sort_values(by="% Overall Passing", ascending=False).head(5)

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [185]:
# School Summary Bottom Performing
#overall_school_summary_df.loc[:, "Total School Budget"] = '$' + overall_school_summary_df["Total School Budget"].map('{:,.2f}'.format) 

# Create DataFrame
overall_school_summary_df = pd.DataFrame({"Total Students": per_school_total_students, "Total School Budget_Formatted": per_school_budget,
                                "Per Student Budget": per_school_capita, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score,
                                "% Passing Math": per_school_overall_passing_math, "% Passing Reading": per_school_overall_passing_reading,
                                "% Overall Passing": overall_passing_pct
                                })

# Format Columns using Map
#overall_school_summary_df["Total School Budget"] = overall_school_summary_df["Total School Budget"].map("${:,.2f}".format)
#overall_school_summary_df["Per Student Budget"] = overall_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

overall_school_summary_df.sort_values(by="% Overall Passing", ascending=False).iloc[-5:].sort_values(by="% Overall Passing")

,Total Students,Total School Budget_Formatted,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [186]:
# Math Scores by Grade - Remove Unnecessary Columns
math_score_reduced_df = school_data_combined_df[["school_name", "grade", "math_score"]]
#math_score_reduced_df

In [187]:
# Math Scores by Grade - Conditional Filter by Grade
math_score_ninth = math_score_reduced_df.loc[math_score_reduced_df["grade"] == "9th"]
math_score_tenth = math_score_reduced_df.loc[math_score_reduced_df["grade"] == "10th"]
math_score_eleventh = math_score_reduced_df.loc[math_score_reduced_df["grade"] == "11th"]
math_score_twelfth = math_score_reduced_df.loc[math_score_reduced_df["grade"] == "12th"]

In [188]:
# Math Scores by Grade - Set Index for Math Scores Series
per_school_math_scores_nine = math_score_ninth.set_index(["school_name"])["math_score"]
per_school_math_scores_ten = math_score_tenth.set_index(["school_name"])["math_score"]
per_school_math_scores_eleven = math_score_eleventh.set_index(["school_name"])["math_score"]
per_school_math_scores_twelve = math_score_twelfth.set_index(["school_name"])["math_score"]

In [189]:
# Math Scores by Grade - Create Series for Mean of Math Scores by School
grade_nine_math = per_school_math_scores_nine.groupby(["school_name"]).mean()   
grade_ten_math = per_school_math_scores_ten.groupby(["school_name"]).mean()
grade_eleven_math = per_school_math_scores_eleven.groupby(["school_name"]).mean()
grade_twelve_math = per_school_math_scores_twelve.groupby(["school_name"]).mean()

In [190]:
grouped_math_scores_by_grade_df = pd.DataFrame({"9th": grade_nine_math, "10th": grade_ten_math,
                                "11th": grade_eleven_math, "12th": grade_twelve_math
                                })
grouped_math_scores_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [191]:
# Reading Scores by Grade - Remove Unnecessary Columns
reading_score_reduced_df = school_data_combined_df[["school_name", "grade", "reading_score"]]
#reading_score_reduced_df

In [192]:
# Reading Scores by Grade - Conditional Filter by Grade
reading_score_ninth = reading_score_reduced_df.loc[reading_score_reduced_df["grade"] == "9th"]
reading_score_tenth = reading_score_reduced_df.loc[reading_score_reduced_df["grade"] == "10th"]
reading_score_eleventh = reading_score_reduced_df.loc[reading_score_reduced_df["grade"] == "11th"]
reading_score_twelfth = reading_score_reduced_df.loc[reading_score_reduced_df["grade"] == "12th"]

In [193]:
# Reading Scores by Grade - Set Index for Reading Scores Series
per_school_reading_scores_nine = reading_score_ninth.set_index(["school_name"])["reading_score"]
per_school_reading_scores_ten = reading_score_tenth.set_index(["school_name"])["reading_score"]
per_school_reading_scores_eleven = reading_score_eleventh.set_index(["school_name"])["reading_score"]
per_school_reading_scores_twelve = reading_score_twelfth.set_index(["school_name"])["reading_score"]

In [194]:
# Reading Scores by Grade - Create Series for Mean of Reading Scores by School
grade_nine_reading = per_school_reading_scores_nine.groupby(["school_name"]).mean()   
grade_ten_reading = per_school_reading_scores_ten.groupby(["school_name"]).mean()
grade_eleven_reading = per_school_reading_scores_eleven.groupby(["school_name"]).mean()
grade_twelve_reading = per_school_reading_scores_twelve.groupby(["school_name"]).mean()

In [195]:
grouped_math_scores_by_grade_df = pd.DataFrame({"9th": grade_nine_reading, "10th": grade_ten_reading,
                                "11th": grade_eleven_reading, "12th": grade_twelve_reading
                                })
grouped_math_scores_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [196]:
# Scores by School Spending

In [197]:
# School Spending Summary
overall_spending_summary_df = pd.DataFrame({"Per Student Budget": per_school_capita, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score,
                                "% Passing Math": per_school_overall_passing_math, "% Passing Reading": per_school_overall_passing_reading,
                                "% Overall Passing": overall_passing_pct
                                })

In [198]:
# Create Bins
bins = [0, 585, 630, 645, 680 ]

# Create Names for Bins
spending_bins = ["< $585", "$585-630", "$630-645", "$645-680"]

In [199]:
overall_spending_summary_df["Spending Ranges (Per Student)"] = pd.cut(overall_spending_summary_df["Per Student Budget"],
                                                                bins, labels=spending_bins, include_lowest=True)

In [200]:
overall_spending_summary1_df = overall_spending_summary_df.groupby("Spending Ranges (Per Student)").mean()

# Format Columns
overall_spending_summary1_df["Average Math Score"] = overall_spending_summary1_df["Average Math Score"].map("{:,.2f}".format)
overall_spending_summary1_df["Average Reading Score"] = overall_spending_summary1_df["Average Reading Score"].map("{:,.2f}".format)
overall_spending_summary1_df["% Passing Math"] = overall_spending_summary1_df["% Passing Math"].map("{:,.2f}".format)
overall_spending_summary1_df["% Passing Reading"] = overall_spending_summary1_df["% Passing Reading"].map("{:,.2f}".format)
overall_spending_summary1_df["% Overall Passing"] = overall_spending_summary1_df["% Overall Passing"].map("{:,.2f}".format)

scores_by_school_spending = overall_spending_summary1_df[["Average Math Score", "Average Reading Score", "% Passing Math",
                                                        "% Passing Reading", "% Overall Passing"]]
scores_by_school_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
< $585,83.46,83.93,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

In [201]:
# Scores by School Size

In [202]:
# School Size Summary
overall_school_size_summary_df = pd.DataFrame({"Total Students": per_school_total_students, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score,
                                "% Passing Math": per_school_overall_passing_math, "% Passing Reading": per_school_overall_passing_reading,
                                "% Overall Passing": overall_passing_pct})

In [203]:
# Create Bins
bins = [0, 1000, 2000, 5000]

# Create Names for Bins
spending_bins = ["Small(< 1000)", "Medium(1000-2000)", "Large(2000-5000)"]

In [204]:
overall_school_size_summary_df["School Size"] = pd.cut(overall_school_size_summary_df["Total Students"],
                                                                bins, labels=spending_bins, include_lowest=True)

In [205]:
overall_school_size_summary_df= overall_school_size_summary_df.groupby("School Size").mean()

# Drop unnecessary columns
scores_by_school_size_df = overall_school_size_summary_df[["Average Math Score", "Average Reading Score", "% Passing Math",
                                                        "% Passing Reading", "% Overall Passing"]]
scores_by_school_size_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small(< 1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium(1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large(2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [206]:
# Scores by School Type

In [207]:
# School Type Summary
overall_school_type_summary_df = pd.DataFrame({"Average Math Score": school_type_avg_math, 
                                "Average Reading Score": school_type_avg_reading, "% Passing Math": per_school_type_overall_passing_math,
                                 "% Passing Reading": per_school_type_overall_passing_reading,"% Overall Passing": overall_school_type_passing_pct})

overall_school_type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Charter,83.406183,83.902821,93.701821,96.645891,90.560932
District,76.987026,80.962485,66.518387,80.905249,53.695878